*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:linear-gradient(135deg,#0f172a,#1e293b,#334155);

display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

background:white;

width:500px;

padding:30px;

border-radius:20px;

box-shadow:0 20px 40px rgba(0,0,0,.3);

}

.top{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}

select{

padding:8px;

border-radius:8px;

}

.senha{

display:flex;

margin-bottom:20px;

}

.senha input{

flex:1;

padding:15px;

font-size:20px;

border:2px solid #ddd;

border-radius:10px 0 0 10px;

}

.senha button{

width:60px;

font-size:22px;

border:none;

background:#2563eb;

color:white;

cursor:pointer;

border-radius:0 10px 10px 0;

}

.slider{

margin:20px 0;

}

.slider label{

display:block;

margin-bottom:10px;

font-weight:600;

}

input[type=range]{

width:100%;

}

.options{

display:grid;

grid-template-columns:1fr 1fr;

gap:12px;

margin:20px 0;

}

.options label{

background:#f3f4f6;

padding:12px;

border-radius:10px;

cursor:pointer;

}

button#generate{

width:100%;

padding:15px;

font-size:18px;

border:none;

border-radius:12px;

background:#10b981;

color:white;

cursor:pointer;

transition:.3s;

}

button#generate:hover{

transform:scale(1.03);

}

.strength{

margin-top:25px;

}

#bar{

height:15px;

border-radius:20px;

background:limegreen;

transition:.4s;

}

#strengthText{

margin-top:8px;

font-weight:bold;

}

#suggestionTitle{

margin-top:30px;

margin-bottom:10px;

}

#suggestions{

display:grid;

gap:10px;

}

.suggestion{

padding:12px;

background:#f1f5f9;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

.suggestion:hover{

background:#dbeafe;

}